<h2>User Details</h2>


<div class="container">
    <div class="row">
        <a routerLink=".."><button (click)='deleteUser(user)' type="button" class="btn btn-danger">Delete</button></a>
        <button (click)="displayButtons();openInputFields()" type="button" class="btn btn-primary">Edit</button>
    </div>
    <div class="form">
        <div class="form-group">
            <label for="Id">Id</label>
            <input type="text" class="form-control" id="IdLabel" required readonly
            value={{user?.id}}/>
        </div>
        <div class="form-group">
            <label for="firstName">First name:</label>
            <input type="text" class="form-control" id="firstNameLabel" required readonly
            value={{user?.firstName}}/>
        </div>
        <div class="form-group">
            <label for="secondName">Last name:</label>
            <input type="text" class="form-control" id="secondNameLabel" required readonly
            value={{user?.lastName}}/>
        </div>
        <div class="form-group">
            <label for="birthDate">Date of birth:</label>
            <input type="date" class="form-control" id="birthDateLabel" required readonly
            value={{getBirthDateString(user)}}/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="emailLabel" required readonly
            value={{user?.email}}/>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phonenumber</label>
            <input type="text" class="form-control" id="phoneNumberLabel" required readonly
            value={{user?.phoneNumber}}/>
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select name="genders" id="genders" value="{{user?.gender}}" disabled>
                <option value="Female" class="value">Female</option>
                <option value="Male" class="value">Male</option>
            </select>
        </div>
    </div>
</div>



<div id="buttons" class="row" >
    <button  (click)="closeFields();hideButtons()" id="cancelButton" style='visibility:hidden' type="button" class="btn btn-primary">Cancel</button>
    <button (click)="updateSelectedUser();closeFields();hideButtons()" id="saveButton" style='visibility:hidden' type="button" class="btn btn-primary">Save</button>
</div>


