
<h1>Add a new user</h1>

<form #userForm="ngForm">
    <div class="form">
        <div class="form-group">
            <label for="firstName">Id</label>
            <input type="text" class="form-control" id="id" required 
            [(ngModel)] = "model.id" name="id"
            #id="ngModel">
            <div [hidden]="id.valid || id.pristine"
                class="alert alert-danger">
                Id is required
            </div> 
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" required 
            [(ngModel)] = "model.firstName" name="firstName"
            #firstName="ngModel"> 
            <div [hidden]="firstName.valid || firstName.pristine"
                class="alert alert-danger">
                First name is required
            </div> 
        </div>
        <div class="form-group">
            <label for="firstName">Last Name</label>
            <input type="text" class="form-control" id="lastName" required 
            [(ngModel)] = "model.lastName" name="lastName"
            #lastName="ngModel"> 
            <div [hidden]="lastName.valid || lastName.pristine"
                class="alert alert-danger">
                Last name is required
            </div> 
        </div>
        <div class="form-group">
            <label for="firstName">Phonenumber</label>
            <input type="text" class="form-control" id="phoneNumber" required 
            [(ngModel)] = "model.phoneNumber" name="phoneNumber"
            #phoneNumber="ngModel"> 
            <div [hidden]="phoneNumber.valid || phoneNumber.pristine"
                class="alert alert-danger">
                Phonenumber is required
            </div> 
        </div>
        <div class="form-group">
            <label for="firstName">Email</label>
            <input type="text" class="form-control" id="email" required 
            [(ngModel)] = "model.email" name="email"
            #email="ngModel"> 
            <div [hidden]="email.valid || email.pristine"
                class="alert alert-danger">
                Email is required
            </div> 
        </div>
        <div class="form-group">
            <label for="birthDate">Date of birth</label>
            <input type="date" class="form-control" id="birthDate" required 
            [(ngModel)] = "model.birthDate" name="birthDate"
            #birthDate="ngModel"> 
            <div [hidden]="birthDate.valid || birthDate.pristine"
                class="alert alert-danger">
                Date of birth is required
            </div> 
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select name="genders" id="genders" [(ngModel)] = "model.gender" 
            #gender="ngModel">
                <option value="Female" class="value">Female</option>
                <option value="Male" class="value">Male</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary" (click)="addUser(model);userForm.reset()">Submit</button>
    </div>
</form>
