<div class="row">
    <div class="col-sm-6 col-md-8 col-lg-10">
      <h1 id="aboutTitle">Over deze applicatie:</h1>
      <p>
        Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
        Breda. Voor deze opdracht mochten wij een eigen casus verzinnen. 
      </p>
      <h3>StudentEats</h3>
      <p>
        Het projectdomein van mijn casus bestaat uit Gebruikers, Studentenhuizen,
        Maaltijden en Aanmeldingen. Het idee is dat Studentenhuizen maaltijden aanbieden. Als Gebruiker kun je jezelf aanmelden voor een maaltijd dat aangeboden wordt bij een Studentenhuis.
        Bij het aanmelden van een maaltijd wordt een Aanmelding gemaakt.
        Deze casus ga ik vrij zeker aanpassen in de toekomst. Ik heb dit slechts als placeholder gebruikt omdat ik inspiratieloos ben. 
        Ik vind het namelijk belangrijk om een casus te kiezen waar ik oprecht interesse in heb. Navigeer naar 'Users' om een tabel van gebruikers te zien. Navigeer naar 'Studenthomes' om een tabel van studentenhuizen te zien.
      </p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
      <div class="card">
        <div class="d-flex justify-content-center align-items-center">
          <img
            src="assets/images/person.png"
            class="card-img-top rounded-circle border profile-pic"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Khalid Mimouni</h5>
          <p class="card-text">Studentnummer: 2175124</p>
        </div>
      </div>
    </div>
  </div>
  
  <h3>Entiteiten</h3>
  <p>
    De entiteiten die gebruikt zullen worden in dit project zijn Gebruiker, Studentenhuis, Maaltijd, Aanmelding en Onderwijsinstelling.
  </p>
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <p>Gebruiker</p>
      <ul>
        <li>id: number</li>
        <li>firstName: string</li>
        <li>lastName: string</li>
        <li>birthDate: Date</li>
        <li>gender: Gender</li>
        <li>email: string</li>
        <li>phoneNumber: string</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-3">
      <p>Studentenhuis</p>
      <ul>
        <li>id: number</li>
        <li>name: string</li>
        <li>adminId: number</li>
        <li>address: Address</li>
        <li>phoneNumber: string</li>
        <li>amountOfMembers: number</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-3">
      <p>Maaltijd</p>
      <ul>
        <li>id: number</li>
        <li>studentHomeId: number</li>
        <li>name: string</li>
        <li>ingredients: string[]</li>
        <li>allergies: string[]</li>
        <li>price: double</li>
        <li>offeredOn: Date</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-3">
        <p>Aanmelding</p>
        <ul>
          <li>id: number</li>
          <li>dateOfApplication: Date</li>
          <li>mealId: number</li>
          <li>gebruikerId: number</li>
        </ul>
      </div>
  </div>
  
  <div class="row">
    <div class="col">
      <img src="assets/images/erd.png" alt="..." />
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <h3>Use Cases</h3>
      <p>De applicatie biedt de volgende functionaliteit.</p>
      <div *ngFor="let UC of useCases">
        <app-usecase [useCase]="UC"></app-usecase>
      </div>
      <p>Vul hier zelf meer functionaliteit toe.</p>
    </div>
  </div>
  
