
<h1>Add a new studenthome</h1>

<form #userForm="ngForm">
    <div class="form">
        <div class="form-group">
            <label for="id">Id</label>
            <input type="text" class="form-control" id="id" required 
            [(ngModel)] = "model._id" name="id"
            #id="ngModel">
            <div [hidden]="id.valid || id.pristine"
                class="alert alert-danger">
                Id is required
            </div> 
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required 
            [(ngModel)] = "model.name" name="firstName"
            #name="ngModel"> 
            <div [hidden]="name.valid || name.pristine"
                class="alert alert-danger">
                Name is required
            </div> 
        </div>
        <div class="form-group">
            <label for="adminid">Administrator ID</label>
            <input type="text" class="form-control" id="adminId" required 
            [(ngModel)] = "model.adminId" name="adminId"
            #adminId="ngModel"> 
            <div [hidden]="adminId.valid || adminId.pristine"
                class="alert alert-danger">
                Administrator ID is required
            </div> 
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" required 
            [(ngModel)] = "model.address!.city" name="street"
            #city="ngModel"> 
            <div [hidden]="city.valid || city.pristine"
                class="alert alert-danger">
                City is required
            </div> 
        </div>
        <div class="form-group">
            <label for="street">Street</label>
            <input type="text" class="form-control" id="street" required 
            [(ngModel)] = "model.address!.street" name="street"
            #street="ngModel"> 
            <div [hidden]="street.valid || street.pristine"
                class="alert alert-danger">
                Street is required
            </div> 
        </div>
        <div class="form-group">
            <label for="streetnumber">Streetnumber</label>
            <input type="text" class="form-control" id="streetnumber" required 
            [(ngModel)] = "model.address!.number" name="streetnumber"
            #streetnumber="ngModel"> 
            <div [hidden]="streetnumber.valid || streetnumber.pristine"
                class="alert alert-danger">
                Streetnumber is required
            </div> 
        </div>
        <div class="form-group">
            <label for="zip">Zipcode</label>
            <input type="text" class="form-control" id="zip" required 
            [(ngModel)] = "model.address!.zipcode" name="zip"
            #zip="ngModel"> 
            <div [hidden]="zip.valid || zip.pristine"
                class="alert alert-danger">
                Zipcode is required
            </div> 
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phonenumber</label>
            <input type="text" class="form-control" id="phoneNumber" required 
            [(ngModel)] = "model.phoneNumber" name="phoneNumber"
            #phoneNumber="ngModel"> 
            <div [hidden]="phoneNumber.valid || phoneNumber.pristine"
                class="alert alert-danger">
                Phonenumber is required
            </div> 
        </div>
        
        <button type="button" class="btn btn-primary" (click)="addStudentHome(model);userForm.reset()">Submit</button>
    </div>
</form>
