<a routerLink="New"><button type="button" class="btn btn-primary">Add new studenthome</button></a>
<table #studentHomeTable class="table table-striped table-bordered table-hover">
    <thead>
        <tr><th>Name</th><th>Street</th><th>Number</th></tr>
    </thead>
    <tbody>
        <tr *ngFor="let studenthome of studentHomeList">
            <td><a (click)="onClickStudentHome(studenthome)" routerLink="{{studenthome._id}}">{{studenthome.name}}</a></td>
            <td>{{studenthome.address!.street}}</td>
            <td>{{studenthome.address!.number}}</td>
            
        </tr>
    </tbody>
</table>
