
  
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsiveNavbar">
        <span class="navbar-toggler icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="responsiveNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="About" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a routerLink="Users" class="nav-link">Users</a>
          </li>
          <li class="nav-item">
            <a routerLink="StudentHomes" class="nav-link">Studenthomes</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
