<h2>Studenthome Details</h2>


<div class="container">
    <div class="row">
        <a routerLink=".."><button (click)='deleteStudentHome(studentHome)' type="button" class="btn btn-danger">Delete</button></a>
        <button (click)="setCancelAndSaveVisibility(true);setReadonly(false)" type="button" class="btn btn-primary">Edit</button>
    </div>
    <div class="form">
        <div class="form-group">
            <label for="Id">Id</label>
            <input type="text" class="form-control" id="IdLabel" required readonly
            [(ngModel)] = "model._id"
            />
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input #studentHomeName type="text" class="form-control" id="name" required [attr.readonly]="readonlyValue"
            [(ngModel)] = "model.name"
            />
        </div>
        <div class="form-group">
            <label for="adminId">Administrator Id:</label>
            <input #studentHomeAdminId type="text" class="form-control" id="adminId" required [attr.readonly]="readonlyValue"
            [(ngModel)] = "model.adminId"
            />
        </div>
        <div class="form-group">
            <label for="street">City</label>
            <input #studentHomeCity type="text" class="form-control" id="city" required [attr.readonly]="readonlyValue"
            [(ngModel)] = "model.address!.city"
            />
        </div>
        <div class="form-group">
            <label for="street">Street</label>
            <input #studentHomeStreet type="text" class="form-control" id="street" required [attr.readonly]="readonlyValue"
            [(ngModel)] = "model.address!.street"
            />
        </div>
        <div class="form-group">
            <label for="streetnumber">Streetnumber</label>
            <input #studentHomeStreetNumber type="text" class="form-control" id="streetnumber" required [attr.readonly]="readonlyValue"
            [(ngModel)] = "model.address!.number"
            />
        </div>
        <div class="form-group">
            <label for="street">Zipcode</label>
            <input #studentHomeZip type="text" class="form-control" id="zip" required [attr.readonly]="readonlyValue"
            [(ngModel)] = "model.address!.zipcode"
            />
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phonenumber</label>
            <input #studentHomePhoneNumber type="text" class="form-control" id="phoneNumberLabel" required [attr.readonly]="readonlyValue"
            [(ngModel)] = "model.phoneNumber"
            />
        </div>
        <div class="form-group">
            <label for="createdon">Created on</label>
            <input type="text" class="form-control" id="createdon" required readonly
            value="{{studentHome.createdOn | date: 'yyyy/MM/dd'}}"/>
        </div>
        <div class="form-group">
            <label for="updatedon">Updated on</label>
            <input type="text" class="form-control" id="updatedon" required readonly
            value="{{(studentHome.updatedOn | date: 'yyyy/MM/dd') || 'Never'}}"/>
            
        </div>
        
    </div>
</div>



<div *ngIf="this.isCancelAndSaveButtonVisible" id="buttons" class="row" >
    <button  (click)="setCancelAndSaveVisibility(false);setReadonly(true);resetFormModel()"id="cancelButton"  type="button" class="btn btn-primary">Cancel</button>
   <a routerLink=".."><button  (click)="setCancelAndSaveVisibility(false);setReadonly(true);updateStudentHome()"id="saveButton"  type="button" class="btn btn-primary">Save</button></a> 
</div>



